DB_URL="mongodb://<user>:<password>@<host>:<port>/DB_name?authSource=admin"
BREVO_API_KEY=""
JWT_ACTIVATION_SECRET=""
ACTIVATION_REDIRECT_URL_LOCAL="http://localhost:8000/api/v1/users/activate-user-account"
SENDER_EMAIL=""
SENDER_NAME="I Notes"
JWT_SESSION_KEY=''
SALT_ROUND=""
FORGOT_PASSWORD_REDIRECT_URL_LOCAL="http://localhost:3000/forgot-password?step=2"
FRONTEND_REDIRECT_URL="http://localhost:3000"